{% for group, commits in commits | group_by(attribute="group") %}
{{ group | striptags | trim }}
{% for commit in commits %}- {{ commit.message | split(pat="\n") | first | trim | trim_start_matches(pat="feat: ") | trim_start_matches(pat="fix: ") | trim_start_matches(pat="refactor: ") | trim_start_matches(pat="perf: ") | trim_start_matches(pat="docs: ") | trim_start_matches(pat="test: ") | trim_start_matches(pat="chore(deps): ") | trim_start_matches(pat="style: ") }}
{% endfor %}
{% endfor %}
