[Desktop Entry]
Name=FluxDO
Comment=OpenXinSheng client
Exec=fluxdo %u
Icon=com.github.lingyan000.fluxdo
Terminal=false
Type=Application
Categories=Network;
MimeType=x-scheme-handler/fluxdo;
StartupWMClass=fluxdo
