[Desktop Entry]
Name=FluxDO
Comment=开源心声社区客户端
Exec=fluxdo %u
Icon=fluxdo
Terminal=false
Type=Application
Categories=Network;
MimeType=x-scheme-handler/fluxdo;x-scheme-handler/discourse;x-scheme-handler/https;
StartupWMClass=fluxdo
